<config>
   <modules>
      <Zestard_Customerattribute>
         <version>1.0.2</version>
      </Zestard_Customerattribute>
   </modules>
   <global>
      <models>
         <zestard_customerattribute>
            <class>Zestard_Customerattribute_Model</class>
         </zestard_customerattribute>
         <customer>
            <rewrite>
               <customer>Zestard_Customerattribute_Model_Customer</customer>
            </rewrite>
         </customer>
         <sales>
            <rewrite>
               <order>Zestard_Customerattribute_Model_Order</order>
            </rewrite>
         </sales>
      </models>
      <resources>
         <zestard_customerattribute_setup>
            <setup>
               <module>Zestard_Customerattribute</module>
               <class>Mage_Eav_Model_Entity_Setup</class>
            </setup>
         </zestard_customerattribute_setup>
      </resources>
      <helpers>
         <zestard_customerattribute>
            <class>Zestard_Customerattribute_Helper</class>
         </zestard_customerattribute>
      </helpers>
      <blocks>
         <zestard_customerattribute>
            <class>Zestard_Customerattribute_Block</class>
         </zestard_customerattribute>
      </blocks>
      <fieldsets>
         <checkout_onepage_quote>
            <customer_referral>
               <to_customer>referral</to_customer>
            </customer_referral>
            <customer_company_url>
               <to_customer>company_url</to_customer>
            </customer_company_url>
         </checkout_onepage_quote>
         <customer_account>
            <referral>
               <to_quote>customer_referral</to_quote>
            </referral>
            <company_url>
               <to_quote>customer_company_url</to_quote>
            </company_url>
         </customer_account>
      </fieldsets>      
   </global>
   <frontend>
      <layout>
         <updates>
            <zestard_customerattribute>
               <file>zestard_customerattribute.xml</file>
            </zestard_customerattribute>
         </updates>
      </layout>
      <translate>
         <modules>
            <zestard_customerattribute>
               <files>
                  <default>Zestard_Customerattribute.csv</default>
               </files>
            </zestard_customerattribute>
         </modules>
      </translate>
   </frontend>
   <adminhtml>
      <layout>
         <updates>
            <zestard_customerattribute>
               <file>zestard_customerattribute.xml</file>
            </zestard_customerattribute>
         </updates>
      </layout>
      <translate>
         <modules>
            <zestard_customerattribute>
               <files>
                  <default>zestard_customerattribute.csv</default>
               </files>
            </zestard_customerattribute>
         </modules>
      </translate>
   </adminhtml>
   <admin>
      <routers>
         <adminhtml>
            <args>
               <modules>
                  <zestard_customerattribute after="Mage_Adminhtml">Zestard_Customerattribute_Adminhtml</zestard_customerattribute>
               </modules>
            </args>
         </adminhtml>
      </routers>
   </admin>
   <default>
      <zestard_customerattribute>
         <customerattribute_group>
            <enable>1</enable>
            <add_in_customer_registration>1</add_in_customer_registration>
            <add_in_order_confirmation>1</add_in_order_confirmation>
            <note> {{var CustomerAttribute.arrayToHtml()}}  </note>
         </customerattribute_group>
      </zestard_customerattribute>
      <general>
         <validator_data>
            <input_types>
               <text>text</text>
               <textarea>textarea</textarea>
               <date>date</date>
               <boolean>boolean</boolean>
               <multiselect>multiselect</multiselect>
               <select>select</select>
            </input_types>
         </validator_data>
      </general>
   </default>
</config>
