<?xml version="1.0"?>
<config>
	<tabs>
        <zestard translate="label" module="zestard_customerattribute">
            <label>Customer Attribute</label>
            <sort_order>100</sort_order>
        </zestard>
    </tabs>
    <sections>
    	<customerattribute_logo translate="label" module="zestard_customerattribute">
		    <label>
		        <![CDATA[
		            <div style="position: absolute;width: 220px;display: inline-block;">
		                <a style="text-align:left;padding-left: 15px;" onclick="redirectSite(event,this)"><img id="zestard_block" src="" alt="" style="height:24px" border="0"/></a>
		            </div>&nbsp;
		            <script>
		                function redirectSite(event,obj){
		                event.preventDefault();
		                event.stopPropagation();
		                window.open("http://www.zestard.com/", '_blank');
		               }
		               document.observe('dom:loaded', function() {
		                    var n = SKIN_URL.indexOf("adminhtml");
		                    $('zestard_block').src = SKIN_URL.substring(0, n) + "adminhtml/default/default/images/customerattribute/zestard-logo.png";

		                });
		            </script>
		        ]]>
		    </label>
		    <tab>zestard</tab>
		    <sort_order>1000</sort_order>
		    <show_in_default>1</show_in_default>
		    <show_in_website>1</show_in_website>
		    <show_in_store>1</show_in_store>
		    <class>zestard-logo-config</class>
		</customerattribute_logo>
    </sections>    
</config>
